<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- USERCARD -->
<mapper namespace="com.example.demo.dao.cred.UserCardDao">
	<!-- 表所有字段 -->
	<sql id="allColumns">
		u.cardId, u.userId, u.cardTitle, u.cardMusic, u.CARDFILM,
		u.cardContent, u.cardImg, u.cardImg2,
		u.cardImg3, u.cardImg4, u.cardImg5, u.cardImg6, u.cardImg7, u.cardImg8,
		u.cardImg9, u.goodCount,
		u.createTime
	</sql>
    <select id="findUserCard" resultType="com.example.demo.entity.cred.UserCardEntity" parameterType="com.example.demo.entity.cred.UserCardEntity">
    	select  
    	<include refid="allColumns" />
    	,t.name,t.touXiang,
    	(select c.commentContent from cardcomment c
    	 where c.cardId=u.cardId ORDER BY c.createTime DESC LIMIT 1)AS commentContent  
		from USERCARD u left join user_info t on u.userId=t.userId  ORDER BY u.createTime 
		LIMIT #{startIndex},#{index}
    </select>
    <select id="findUserCardCount" resultType="int">
    	select count(u.cardId)
		from USERCARD u left join user_info t on u.userId=t.userId  
    </select>
    
    <select id="findUserCardById" resultType="com.example.demo.entity.cred.UserCardEntity" parameterType="com.example.demo.entity.cred.UserCardEntity">
    	select <include refid="allColumns" />
    	,t.name,t.touXiang,
    	(select c.commentContent from cardcomment c
    	 where c.cardId=u.cardId ORDER BY c.createTime DESC LIMIT 1)AS commentContent  
		from USERCARD u left join user_info t on u.userId=t.userId
    	where 	1=1
    			<if test="cardId !=null and cardId != 0">
        			AND u.cardId = #{cardId}
       		 	</if>
       		 	<if test="userId !=null and userId != 0">
        			AND u.userId = #{userId}
       		 	</if>
       		 	ORDER BY u.createTime 
    </select>
    
    <!-- 插入数据 -->
	<insert id="insertUsercard"
		parameterType="com.example.demo.entity.cred.UserCardEntity">
		INSERT INTO USERCARD (
		userId, cardTitle,
		<if test="cardMusic != null and cardMusic !=''"> <!--音乐 -->
			cardMusic,
		</if>
		<if test="cardFilm != null and cardFilm !=''"> <!--视屏 -->
			CARDFILM,
		</if>
		cardContent,
		<if test="cardImg != null and cardImg !=''">
			cardImg,
		</if>
		<if test="cardImg2 != null and cardImg2!=''">
			cardImg2,
		</if>
		<if test="cardImg3 != null and cardImg3!=''">
			cardImg3,
		</if>
		<if test="cardImg4 != null and cardImg4!=''">
			cardImg4,
		</if>
		<if test="cardImg5 != null and cardImg5!=''">
			cardImg5,
		</if>
		<if test="cardImg6 != null and cardImg6!=''">
			cardImg6,
		</if>
		<if test="cardImg7 != null and cardImg7!=''">
			cardImg7,
		</if>
		<if test="cardImg8 != null and cardImg8!=''">
			cardImg8,
		</if>
		<if test="cardImg9 != null and cardImg9!=''">
			cardImg9,
		</if>
		createTime
		) VALUES (
		#{userId},
		#{cardTitle},
		<if test="cardMusic != null and cardMusic !=''">
			#{cardMusic},
		</if>
		<if test="cardFilm != null and cardFilm !=''">
			#{cardFilm},
		</if>
		#{cardContent},
		<if test="cardImg != null and cardImg !=''">
			#{cardImg},
		</if>
		<if test="cardImg2 != null and cardImg2!=''">
			#{cardImg2},
		</if>
		<if test="cardImg3 != null and cardImg2!=''">
			#{cardImg3},
		</if>
		<if test="cardImg4 != null and cardImg2!=''">
			#{cardImg4},
		</if>
		<if test="cardImg5 != null and cardImg2!=''">
			#{cardImg5},
		</if>
		<if test="cardImg6 != null and cardImg2!=''">
			#{cardImg6},
		</if>
		<if test="cardImg7 != null and cardImg2!=''">
			#{cardImg7},
		</if>
		<if test="cardImg8 != null and cardImg2!=''">
			#{cardImg8},
		</if>
		<if test="cardImg9 != null and cardImg2!=''">
			#{cardImg9},
		</if>
		SYSDATE()
		)
	</insert>
    
</mapper>