<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- USERS -->
<mapper namespace="com.example.demo.dao.UserDao">
    <!-- 表所有字段 -->
    <sql id="allColumns">
        USERS.ID, USERS.NAME, USERS.PASSWORD, USERS.EMAIL, USERS.touXiang, USERS.SEX,USERS.birthDay, USERS.createTime, 
        USERS.updateTime
    </sql>
    
    <!-- login登录 -->
    <select id="findUserLogin" resultType="int" parameterType="com.example.demo.entity.UserEntity">
        SELECT
        count(1)
        FROM user_info WHERE 1 = 1
        <if test="id !=null and id != 0">
        	AND USERS.id = #{id}
        </if>
        <if test="password != null and password != ''">
            AND USERS.PASSWORD = #{password}
        </if>
        <if test="email != null and email != ''">
            AND USERS.EMAIL = #{email}
        </if>
    </select>
    
        <!-- 根据条件参数查询数据列表 -->
    <select id="findUSERSByCondition" resultType="com.example.demo.entity.UserEntity" parameterType="com.example.demo.entity.UserEntity">
        SELECT
        <include refid="allColumns" />
        FROM user_info WHERE 1 = 1
        <if test="id !=null and id != 0">
        	AND USERS.id = #{id}
        </if>
        <if test="email != null and email != ''">
            AND USERS.EMAIL LIKE CONCAT('%', #{email}, '%')
        </if>
        <if test="password != null and password != ''">
            AND USERS.PASSWORD LIKE CONCAT('%', #{password}, '%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertUser" parameterType="com.example.demo.entity.UserEntity">
        INSERT INTO user_info (
              PASSWORD, EMAIL, touXiang, name, SEX,birthDay, createTime
            
        ) VALUES (
            #{password},
            #{email},
            #{touXiang},
            #{name},
            #{sex},
            #{birthDay},
          	sysdate()
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateUser" parameterType="com.example.demo.entity.UserEntity">
        UPDATE user_info
        <set>
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="password != null">
                PASSWORD = #{password},
            </if>
            <if test="email != null">
                EMAIL = #{email},
            </if>
            <if test="touXiang != null">
                touXiang = #{touXiang},
            </if>
            <if test="sex != null">
                SEX = #{sex},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
        </set>
        WHERE ID = #{id}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteUSERSByIds" parameterType="com.example.demo.entity.UserEntity">
        DELETE FROM user_info WHERE ID IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>