<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- USERS -->
<mapper namespace="com.example.demo.dao.login.UserDao">
    <!-- login登录 -->
    <select id="findUserLogin" resultType="com.example.demo.entity.login.UserEntity" parameterType="com.example.demo.entity.login.UserEntity">
        SELECT
        	*
        FROM user_info USERS WHERE 1 = 1
        <if test="userId !=null and userId != 0">
        	AND USERS.userId = #{userId}
        </if>
        <if test="openId !=null and openId != ''">
        	AND USERS.openId = #{openId}
        </if>
        <if test="password != null and password != ''">
            AND USERS.PASSWORD = #{password}
        </if>
        <if test="email != null and email != ''">
            AND USERS.EMAIL = #{email}
        </if>
    </select>
    
     <select id="findUserRole" resultType="com.example.demo.entity.user.UserRolePrivilege" parameterType="com.example.demo.entity.login.UserEntity">
		SELECT	r.roleType,
				r.roleTypeName,
				p.privilegeName,
				p.privilegeCode,
				p.parentId,
				p.getUrl
		FROM role_privilege rp LEFT JOIN user_privilege p on rp.privilegeId = p.privilegeId 
		left join user_role r on rp.roleId = r.roleType
		where 	rp.status = '1'
		and		p.status = '1'
		and   	r.status = '1'
		<if test="password != null and password != '' and email != null and email != ''">
        and   r.roleType = (select roleType from user_info u where u.email=#{email} and u.password=#{password})
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertUser" parameterType="com.example.demo.entity.login.UserEntity">
        INSERT INTO user_info (
              PASSWORD, EMAIL, touXiang, name, SEX,birthDay, createTime,isWxUser
        ) VALUES (
            #{password},
            #{email},
            #{touXiang},
            #{name},
            #{sex},
            #{birthDay},
          	sysdate(),
          	'no'
        )
    </insert>
    
     <!-- 插入数据 -->
    <insert id="insertWXUser" parameterType="com.example.demo.entity.login.UserEntity">
        INSERT INTO user_info (openId,
                touXiang, name,
                 <if test="sex !=null and sex!=''">
            		SEX,
            	 </if>
                 	isWxUser,
                 <if test="country !=null and country !=''">
            		country,
            	 </if>
            	 <if test="province !=null and province !=''">
            		province,
            	 </if><if test="city !=null and city !=''">
            		city,
           		 </if>createTime
        ) VALUES (
        	#{openId},
            #{touXiang},
            #{name},
            <if test="sex !=null and sex!=''">
            	#{sex},
            </if>
          	'yes',
          	<if test="country !=null and country !=''">
            	#{country},
            </if>
          	<if test="province !=null and province !=''">
            	#{province},
            </if>
            <if test="city !=null and city !=''">
            	#{city},
            </if>
          	sysdate()
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateUser" parameterType="com.example.demo.entity.login.UserEntity">
        UPDATE user_info
        <set>
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="password != null">
                PASSWORD = #{password},
            </if>
            <if test="email != null">
                EMAIL = #{email},
            </if>
            <if test="touXiang != null">
                touXiang = #{touXiang},
            </if>
            <if test="sex != null">
                SEX = #{sex},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
        </set>
        WHERE userId = #{id}
    </update>
</mapper>